<h1>All Games</h1>

<% @game_types.each do |game_type| %>
  <div class="row">
    <div class="span3"><%= link_to game_type.name, game_type %></td></div>
  </div>
<% end %>
<br />

<%= link_to 'New Game type', new_game_type_path %>
